body {
    font-family: Georgia;
    margin: 0;
    background: #f4f4f4;
}
header {
    background: #1e4d7b;
    color: white;
    padding: 15px;
    font-size: 22px;
}
.container {
    display: flex;
}
.menu {
    width: 60%;
    padding: 20px;
}
.menu button {
    padding: 10px;
    margin: 5px;
    width: 180px;
    font-family: Arial;
    font-weight: bold;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
}
.item-price {
    margin-left: 6px;
}
.bill {
    width: 40%;
    background: white;
    padding: 20px;
}
.bill table {
    width: 100%;
}
